.app {
    font-family: sans-serif;
    box-sizing: border-box;
    max-width: $maxWidthApp;
    width: 100%;
    margin: 70px auto 300px auto;
    background-color: $appColor;
    border-radius: $radiusApp;
    padding: $paddingApp;
}

.logo {
    text-align: center;
}

.divider {
    margin: 32px 0;
    border: none;
    border-top: 3px dashed white;
}