.collapse {
    margin: $marginCollapse;
    background-color: $collapseColor;
    border-radius: $radiusCollapseBar;

    &__bar {
        height: $heightCollapseBar;
        padding: $paddingCollapseBar;
        font-size: $collapseFontSize;
        color: $mainFontColor;
        box-shadow: $shadowCollapseBar;
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 99;
    }

    &__title {
        display: block;
        margin-right: auto;
    }

    &__content {
        display: none;
        padding: $collapsePadding;

        &--show {
            display: block;
        }
    }
}