//NOTE: this styles is for external library select-search

.select {

    &__select {
        position: relative;
    }

    &__input {
        height: 32px;
        width: 100%;
        box-sizing: border-box;
    }

    &__options {
        list-style-type: none;
        width: 100%;
        position: absolute;
        margin-top: 0px;
        background: #ffff;
        overflow: hidden;
        transition: .3s transform;
        max-height: 300px;
        overflow-y: scroll;
        padding: 0;
        box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.5);
    }

    &__option {
        padding: 10px;
        display: block;
        width: 100%;
        border: none;
        background: none;
        font-size: 12px;
        text-align: left;
        cursor: pointer;
        transition: .3s background;
        outline: none;

        &:hover {
            background-color: lightgray;
        }

        &.is-selected {
            background: rgb(103, 121, 225);
            color: #fff;
            display: none;
        }
    }

}