.sortableTable {
    width: 100%;
    font-size: $tableFontSize;
    font-weight: normal;
    color: $secondFontColor;
    text-align: left;
    border-collapse: collapse;
    border: none;

    @media screen and (max-width: $mobileSize) {
        display: none;
    }

    td,
    th {
        height: 30px;
    }

    tr:nth-child(1) {
        border-bottom: 1px solid gray;
    }

    th {
        cursor: pointer;
        font-weight: normal;
    }

    // only first column text is aligned to left
    td+td,
    th+th {
        text-align: right
    }

    th span,
    td span {
        display: block;
        width: 100%;
    }

    th span.sortBy {
        padding-right: 18px;
        position: relative;
    }

    span.sortBy:before,
    span.sortBy:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;
    }

    span.sortBy:before {
        border-bottom-color: #666;
        margin-top: -9px;
    }

    span.sortBy:after {
        border-top-color: #666;
        margin-top: 1px;
    }

    .sortBy.actualMethod {
        color: $mainFontColor;
    }

    span.sortBy.ascending:before {
        border-bottom-color: $mainFontColor;
    }

    span.sortBy.descending:after {
        border-top-color: $mainFontColor;
    }

}

.mobileSortableTable {
    width: 100%;
    font-size: $tableFontSize;
    font-weight: normal;
    color: $secondFontColor;
    display: none;

    &__wrapper:nth-child(2n) {
        background-color: rgb(228, 228, 228);
    }

    &__wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    &__row {
        display: flex;
        padding: 8px;

        :nth-child(2n) {
            margin-left: auto;
            width: 50%;
        }
    }

    @media screen and (max-width: $mobileSize) {
        display: block;
    }
}