// colors
$bgColor: #FFFFFF;
$appColor: #E0E6EE;
$collapseColor: #FFFFFF;
$buttonColor: #1BA1BE;

// font colors
$mainFontColor: #00687F;
$secondFontColor: #555555;
$copyrightColor: #999999;

// sizes
$maxWidthApp: 790px;
$paddingApp: 32px 30px;
$radiusApp: 8px;

$heightCollapseBar: 48px;
$marginTopCollapseBar: 16px;
$paddingCollapseBar: 0 15px;
$radiusCollapseBar: 4px;
$shadowCollapseBar: 0px 2px 1px rgba(196, 196, 196, 0.2);
$collapsePadding: 16px;

// font sizes
$collapseFontSize: 16px;
$tableFontSize: 12px;
$buttonFontSize: 12px;