// colors
$bgColor: #FFFFFF;
$appColor: #E0E6EE;
$cardColor: #FFFFFF;
$buttonColor: #1BA1BE;

// font colors
$mainFontColor: #00687F;
$secondFontColor: #555555;
$selectedSecondFontColor: #00687F;
$copyrightColor: #999999;

// sizes
$maxWidthApp: 790px;
$paddingApp: 0px 30px;
$radiusApp: 8px;

$heightCardBar: 48px;
$marginTopCardBar: 16px;
$paddingCardBar: auto 15px;

// font sizes
$cardFontSize: 16px;
$tableFontSize: 12px;
$buttonFontSize: 12px;