@import 'variables';
@import 'components/app';
@import 'components/collapse';
@import 'components/sortableTable';
@import 'components/footer';
@import 'components/select';

body,
html {
    margin: 0;
    padding: 0;
    background-color: $bgColor;
}